{% extends "base.html" %}
{% load static %}
{% block extra_css%} 
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %} 

{% block content %}
    <section id="home">
        <div class="container-fluid">
            <div class="background-image">
            
            </div>
            <div class="content-container">
                <img class="logo" src="{% static 'media/the_pop_up_irish_pub_Trans_White.png' %}" alt="The Pop Up Irish Pub">
                <hr>
                <h1>Emerald Moments</h1>
                <div class="text-center">
                    <a class="btn section-button" href="{% url 'home' %}#about-us" role="button">Tell Me More</a>
                </div>
                
            </div>
        </div>    
    </section>
    <section id="about-us" class="container-fluid">
        <div class="row">
            <div class="col-4 p-0 about-us-image d-none d-md-block">
                <img src="{% static 'media/homepage_about_us_side_bg.png' %}" alt="About us image">
            </div>
            <div class="col-md-8 col-12 about-us-main-content">
                <div class="row">
                    <div class="col-12">
                        <h1 class="d-none d-md-block">About The Pop Up Irish Pub</h1>
                        <h1 class="d-block d-md-none">About Us</h1>
                        <hr>
                    </div>
                </div>
                <div class="row about-us-text">
                    <div class="col-12">
                        <p class="">Since 1986, we’ve been recreating a little bit of Ireland at events across continental EU - delivering reliable, premium event bar hire and Irish bar event hire that feels like a real Irish pub. Our experienced Irish bartenders serve Guinness on draught and other Irish drinks with pace, professionalism, and a generous dose of Irish banter.
                        </p>
                        <p class="d-none d-md-block">We offer a range of event bar hire and mobile Irish bar formats, support multiple event types, and provide complimentary add-on services:
                        </p>
                        <ul>
                            <li><span>Bar Types:</span> from a single draught Guinness tap to a fully roofed bar for up to ~600 guests, we tailor to your venue.
                            </li>
                            <li><span>Events:</span> trade shows & exhibitions, weddings, private events, festivals</li>
                            <li><span>Add-ons:</span> catering, live music, Irish dancers, Djs.</li>
                        </ul>
                        <p class="">Over the decades we’ve earned our reputation the right way, one excellent pint at a time. So what makes us different? 
                        </p>
                        <ul>
                            <li><span>Our People:</span> Our team have spent years behind busy bar counters, so expect fast hands, perfect pours, and natural hosts. Oh, and don’t be surprised if a bartender breaks into song: there’s usually a guitar near the bar, and we’re happy to belt one out.
                            </li>
                            <li><span>Our Approach:</span> We provide a no hassle service, where we just get on with things, while still paying attention to the finer details.
                            </li>
                        </ul>
                        <p class="d-none d-md-block">From Messe Frankfurt to Fira Barcelona (Gran Via), and Düsseldorf to Berlin, choose The Pop Up Irish Pub for quality corporate hospitality and authentic emerald moments.
                        </p>
                    </div>
                </div>
                <div class="row button-container">
                    <div class="col-6">
                        <a class="btn section-button" href="{% url 'aboutus' %}" role="button">Tell Me More</a>
                    </div>
                    <div class="col-6">
                        <a class="btn section-button" href="{% url 'home' %}#contact-us" role="button">Enquire Now</a>
                    </div>
                </div>
                
            </div>
            
        </div> 
        
    </section>
    <section id="explore-bars" class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <h1>Explore Our Bars</h1>
                <hr class="">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="section-text d-none d-md-block">Choose your event bar below, then let us handle the pour. We provide Irish event bar hire across continental Europe for exhibitions, weddings, private parties and festivals. Wherever you want your creamy draught Guinness pints served, we have a format to suit every space, large or small.
                </p>     
            </div>  
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container card-container">
                    <div class="row">
                        <div class="col-12 col-md-6 p-0">
                            <div class="card">
                                <img src="{% static 'media/homepage_bars_section_kiwo_bar.png' %}" alt="">
                                <div class="btn section-button">The KiWo Bar</div>
                                <a class="card-link" href="{% url 'kiwobar' %}" role="button"></a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-0">
                            <div class="card">
                                <img src="{% static 'media/homepage_bars_section_guinness_glass_bar.png' %}" alt="">
                                <div class="btn section-button">The Guinness Glass Bar</div>
                                <a class="card-link" href="{% url 'guinnessbar' %}" role="button"></a>
                            </div>   
                        </div>
                        <div class="col-12 col-md-6 p-0">
                            <div class="card">
                                <img src="{% static 'media/homepage_bars_section_mobile_bar.png' %}" alt="">
                                <div class="btn section-button">The Mobile Bar</div>
                                <a class="card-link" href="{% url 'mobilebar' %}" role="button"></a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-0">
                            <div class="card">
                                <img src="{% static 'media/homepage_bars_section_custom_bars.png' %}" alt="">
                                <div class="btn section-button" >Custom Bars</div>
                                <a class="card-link" href="{% url 'custombar' %}" role="button"></a>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>  
        
    </section>
    
    <section id="food-music" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Add On - Catering & Entertainment</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="section-text">Since 1986, brands and couples have trusted our event bar hire. But you don’t have to take our word for it. Read testimonials from people who experienced our authentic Irish bar event hire at exhibitions, weddings, private parties and festivals across Europe.</p>
            </div>  
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container card-container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <img src="{% static 'media/homepage_add_ons_section_catering.png' %}" alt="">
                                <div class="btn section-button">Catering & Food</div>
                                <a class="card-link" href="" role="button"></a>
                            </div>
                        </div> 
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <img src="{% static 'media/homepage_add_ons_section_entertainment.png' %}" alt="">
                                <div class="btn section-button">Entertainment & Music</div>
                                <a class="card-link" href="" role="button"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </section>
    <section id="testimonials" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Reviews & Testimonials</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="section-text">Since 1986, brands and couples have trusted our event bar hire. But you don’t have to take our word for it. Read testimonials from people who experienced our authentic Irish bar event hire at exhibitions, weddings, private parties and festivals across Europe.
                </p>
                <div class="container">
                    <ul>
                        <li>
                            <p>“His team also distinguished itself through friendliness, commitment, and service orientation, ensuring that Mr. Dolan’s stand was consistently perceived in a highly positive way.”</p>
                            <p>- Kieler Woche Organisers Office</p>
                        </li>
                        <li>
                            <p>“we had a wonderful day at the irish pub kiwo. the musicians were great, the beer was delicious, the food was good and the [bartenders] always provided supplies” </p>
                            <p>- LT on Tripadvisor</p>
                        </li>
                        <li>
                            <p>More to come…</p>
                            <p></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </section>
    <section id="events" class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <h1>Event Types</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="section-text d-none d-md-block">From trade show exhibition stand hospitality, to wedding bars, private parties and festivals, we provide premium Irish bar event hire across Europe with Guinness on draught and professional Irish staff, ready for any footprint.
                </p>
            </div>  
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container card-container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <img src="{% static 'media/homepage_events_trade_fairs.png' %}" alt="">
                                <div class="btn section-button">Trade Shows & Exhibitions</div>
                                <a class="card-link" href="" role="button"></a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <img src="{% static 'media/homepage_events_weddings.png' %}" alt="">
                                <div class="btn section-button">Weddings</div>
                                <a class="card-link" href="" role="button"></a>
                            </div>   
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <img src="{% static 'media/homepage_events_private_parties.png' %}" alt="">
                                <div class="btn section-button">Private Events</div>
                                <a class="card-link" href="" role="button"></a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <img src="{% static 'media/homepage_events_festivals.png' %}" alt="">
                                <div class="btn section-button" >Festivals</div>
                                <a class="card-link" href="" role="button"></a>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
          
    </section>
    <section id="gallery">
        <div class="row">
            <div class="col-12">
                <h1>Gallery - Photos & Videos</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="section-text">Have a look what we do best: perfect pours, friendly service and emerald moments. From trade show exhibitions to weddings, private events and festivals, our pop-up Irish pubs bring Guinness on draught and premium event bar hire to venues across Europe.
                </p>
            </div>  
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container" id="gallery-container">
                    <div class="image-container">
                        <span style="--i: 1">
                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20240213150115/ppp.png" alt="">
                        </span>
                        <span style="--i: 2">
                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20240216133007/20.jpg" alt="">
                        </span>
                        <span style="--i: 3">
                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20240216140352/Business-Intelligence-Tools.webp"
                                alt="">
                        </span>
                        <span style="--i: 4">
                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20240216134711/stock-vector-food-chain-colored-vector-illustration-2184501363.jpg"
                                alt="">
                        </span>
                        <span style="--i: 5">
                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20240216135604/file.webp" alt="">
                        </span>
                        <span style="--i: 6">
                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20240216135739/Data-Management-tools.webp"
                                alt="">
                        </span>
                        <span style="--i: 7">
                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20240216141611/file.jpg" alt="">
                        </span>
                        <span style="--i: 8">
                            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20240216141633/2.webp" alt="">
                        </span>
                    </div>
        
                    <div class="overlay" id="overlay">
                        <img class="popup-img" id="popup-img" src=""
                            alt="Popup Image">
                    </div>
        
                    <div class="btn-container">
                        <button class="btn carousel-button" id="prev">
                            Left
                        </button>
                        <button class="btn carousel-button" id="next">
                            Right
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
    </section>
    <section id="contact-us" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Contact Us</h1>
                {% comment %} <a href="https://wa.me/353862670837?text=Hello%2C%20I%20am%20interested%20in%20your%20services%21" target="_blank">Chat with us on WhatsApp</a> {% endcomment %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="section-text">Do you need event bar hire for your upcoming event? Be it hospitality services on your trade show stand, an Irish buffet at your wedding, or live music and dance for your private party, drop us a line using the form below, phone, email or Whatsapp.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5 form-wrapper">
                            <form id="form" method="POST" action="" class="form mb-2" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-md-8 col-12 did-floating-label-content">
                                    <input type="text" class="form-control input did-floating-input" name="name" placeholder=" " aria-label="Name" required>
                                    <label class="did-floating-label">Name</label>
                                </div>
                                <div class="col-md-8 col-12 did-floating-label-content">
                                    <input type="email" class="form-control input did-floating-input" name="email" placeholder=" " aria-label="Email" required>
                                    <label class="did-floating-label">Email</label>
                                </div>
                                <div class="col-md-8 col-12 did-floating-label-content">
                                    <textarea rows="4" type="textarea" class="form-control input did-floating-input" name="message" placeholder=" " aria-label="message" required></textarea>
                                    <label class="did-floating-label">Message</label>
                                </div>
        
                                <input id="form-submit" class="btn section-button" type="submit" value="Submit">
                            </form>
                        </div>
                        <div class="col-10 col-md-5 address">
                            <p>The Pop Up Irish Pub</p>
                            <p>Bloomsbury Road</p>
                            <p>Oristown</p>
                            <p>Kells</p>
                            <p>Co. Meath</p>
                            <p>Ireland</p>
                            <p></p>
                            <p>T: +353 87 6794786</p>
                            <p>E: info@thepopupirishpub.com</p>
                        </div>
                        <div class="col-2 sm-icons">
                            <div class="row">
                                <i class="fab fa-whatsapp fa-lg"></i>
                            </div>
                            <div class="row">
                                <i class="fab fa-linkedin fa-lg"></i>
                            </div>
                            <div class="row">
                                <i class="fab fa-tiktok fa-lg"></i>
                            </div>
                            <div class="row">
                                <i class="fab fa-instagram fa-lg"></i>
                            </div>
                            <div class="row">
                                <i class="fab fa-facebook fa-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </section>


{% endblock %}
{% block postloadjs %} 
{{ block.super }}
<script src="{% static 'js/scrollspy.js' %}"></script>
 {% endblock %}
