{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="home" class="container">
    <img class="home-image" src="{% static 'media/guinnessBarPlaceholder.jpg' %}" alt="guinness bar"></img>
    <img class="logo" src="{% static 'media/logoPlaceholder.png' %}" alt="">
    <h1>THE POP UP IRISH PUB</h1>
    <h5 class="tagline">"Your Event. Our Irish Tradition."</h5>
</div>

<sectiom id="about-us">   

</sectiom>

<sectiom id="about-us">   

</sectiom>

<sectiom id="explore-bars">   

</sectiom>

<sectiom id="events">   

</sectiom>

<sectiom id="testimonials">   

</sectiom>

<sectiom id="food-entertainment">   

</sectiom>

<sectiom id="contact-us">   

</sectiom>
{% endblock %}
