#home {
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home .container-fluid {
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home .background-image.kiwo-bar {
    background-image: url("https://res.cloudinary.com/dbn8mpr7r/image/upload/v1765208457/individual_bars_kiwo_bar_top_section_bg_pc_rybxph.jpg");
    @media only screen and (max-width: 767px) {
        background-image: url("https://res.cloudinary.com/dbn8mpr7r/image/upload/v1765208457/individual_bars_kiwo_bar_top_section_bg_pc_rybxph.jpg");
	}
}

#home .background-image.guinness-bar {
    background-image: url("https://res.cloudinary.com/dbn8mpr7r/image/upload/v1765208601/individual_bars_guinness_glass_bar_top_section_bg_pc_pgbz3n.jpg");
    @media only screen and (max-width: 767px) {
        background-image: url("https://res.cloudinary.com/dbn8mpr7r/image/upload/v1765208816/individual_bars_guinness_glass_bar_top_section_bg_mob_tca699.jpg");
	}
}

#home .background-image.mobile-bar {
    background-image: url("https://res.cloudinary.com/dbn8mpr7r/image/upload/v1765208893/bars_mobile_bar_top_section_bg_pc_e2capl.jpg");
    @media only screen and (max-width: 767px) {
        background-image: url("https://res.cloudinary.com/dbn8mpr7r/image/upload/v1765209053/bars_mobile_bar_top_section_bg_mob_efpjqq.jpg");
	}
}

#home .background-image.custom-bar {
    background-image: url("https://res.cloudinary.com/dbn8mpr7r/image/upload/v1765288537/bars_custom_bars_top_section_bg_pc_w2guug.jpg");
    @media only screen and (max-width: 767px) {
        background-image: url("https://res.cloudinary.com/dbn8mpr7r/image/upload/v1765288629/bars_custom_top_section_bg_mob_ozkzco.jpg");
	}
}

#home .background-image {
	background-size: 120% 120%;
	height: 100vh;
    width: 100%;
	background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 5s;
    -moz-transition: all 5s;
    -o-transition: all 5s;
    transition: all 5s linear 1s;
	position: absolute;
	top:0;
	left:0;
	z-index: -1;	
}

#home.zoom .background-image {
	background-size: 100% 100%;
}

#home .content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#home .logo {
	max-width: 100%;
	height: auto;
	padding: 10px;
}

#home h1 {
	color: #fff;
	font-size: 4rem;
}

#home h2 {
    text-align: center;
    color: #fff;
}

#home .section-button {
	margin-top: 100px;
	padding: 1rem 2rem;
	font-size: 1.5rem;
}

/*----------------------------------------*/
#about-us {
	height: 100vh;
}

#about-us h1 {
	color: var(--SophisticatedEmeraldGreen);
	text-align: center;
}

#about-us img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-us-main-content {
	background-image: url("https://res.cloudinary.com/dbn8mpr7r/image/upload/v1765288976/individual_bars_guinness_glass_bar_about_section_bg_pc_uf6ods.jpg");
    background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	height: 100vh;
	@media only screen and (max-width: 767px) {
		background-image: url("https://res.cloudinary.com/dbn8mpr7r/image/upload/v1765289069/individual_bars_guinness_glass_bar_about_section_bg_mob_e2fpsr.jpg");
        padding: 0;
	}
}

.about-us-text {
    margin: 1rem;
    border: 2px dashed #000;
    @media only screen and (max-width: 767px) {
		font-size: 0.9rem;
        margin: .5rem;
	}
}

.about-us-text p {
	margin-bottom: 8px;
    @media only screen and (max-width: 767px) {
		font-size: 0.9rem;
        /* margin: .5rem; */
	}
}

.about-us-text p:first-of-type {
	font-weight: bold;
    color: var(--SophisticatedEmeraldGreen);
	margin-bottom: 0;
}

#about-us li span {
	font-weight: bold;
}

#about-us .button-container {
	width: 100%;
	text-align: center;
}

#about-us .section-button {
	width: 80%;
	padding: 1rem;
    @media only screen and (max-width: 767px) {
		font-size: 0.9rem;
        padding: .5rem 1rem;
	}
}

/* -------------------------------------------- */
#gallery {
	background: linear-gradient(
		var(--WarmCream) 0%,
		var(--WarmCream) 70%,
		#0b3323 100%
	);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#gallery h1 {
	color: var(--SophisticatedEmeraldGreen);
	text-align: center;
}

#gallery .section-text {
	max-width: 1200px;
	@media only screen and (max-width: 767px) {
		font-size: 0.9rem;
	}
}

#carouselExampleInterval {
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fas.fa-chevron-left, .fas.fa-chevron-right {
	background-color: var(--SophisticatedEmeraldGreen);
	color: var(--MutedGold);
	padding: 10px;
	border-radius: 5px;
}

.carousel-control-prev {
	justify-content: left;
	opacity: .75;
}

.carousel-control-next {
	justify-content: right;
	opacity: .75;
}

.carousel-caption {
	width: fit-content;
	margin: auto;
}

.carousel-item {
	text-align: center;
} 

.carousel-item img {
	object-fit: contain;
	max-height: 60vh;
	width: 100%;
}

.carousel-caption h5 {
	background-color: #00000054;
	padding: .5rem;
	border-radius: .5rem;
}

/* ------------------------------------------------ */
#specifications {
    background: linear-gradient(
		var(--WarmCream) 0%,
		var(--WarmCream) 80%,
		#000 100%
	);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    @media only screen and (max-width: 767px) {
        padding: 0;
		/* font-size: 0.9rem; */
	}
}

#specifications h1 {
	color: var(--SophisticatedEmeraldGreen);
    /* @media only screen and (max-width: 767px) {
		font-size: calc(.9rem + 1.5vw);
	} */
}

#specifications thead th {
    padding: 0;
}

#specifications td {
    font-size: .9rem;
    background-color: transparent;
    padding: 4px;
    @media only screen and (max-width: 767px) {
		padding: 0 4px;
        font-size: .7rem;
	}
}

#specifications td:first-of-type {
    color: var(--SophisticatedEmeraldGreen);
    font-weight: bold;
}

#specifications .section-button {
    padding: 1rem 2rem;
    @media only screen and (max-width: 767px) {
		font-size: 0.9rem;
        padding: .5rem 1rem;
	}
}