<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "LocalBusiness",
		"name": "The Pop Up Irish Pub",
		"image": "https://thepopupirishpub.com",
		"@id": "https://thepopupirishpub.com",
		"url": "https://thepopupirishpub.com",
		"telephone": "+3538XXXXXXX",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Bloomsbury Road",
			"addressLocality": "Kells",
			"addressRegion": "Co. Meath",
			"postalCode": "A82XXXX",
			"addressCountry": "IE"
		},
		"geo": {
			"@type": "GeoCoordinates",
			"latitude": 53.7278,
			"longitude": -6.8778
		},
		"areaServed": [
			{
				"@type": "Country",
				"name": "Germany"
			},
			{
				"@type": "Country",
				"name": "France"
			},
			{
				"@type": "Country",
				"name": "Spain"
			},
			{
				"@type": "Country",
				"name": "Netherlands"
			},
			{
				"@type": "Country",
				"name": "Italy"
			},
			{
				"@type": "Country",
				"name": "Austria"
			},
			{
				"@type": "Country",
				"name": "Belgium"
			},
			{
				"@type": "AdministrativeArea",
				"name": "European Union"
			}
		],
		"description": "Premium pop-up mobile Irish pub rentals and authentic event experiences for corporate trade shows, exhibitions, and private events across Continental Europe.",
		"sameAs": [
            "https://www.facebook.com/ThePopUpIrishPub/", 
            "https://www.instagram.com/thepopupirishpub/",
            "https://maps.app.goo.gl/VuvBpHCrWma4o4MZ7"
        ]
	}
</script>
