{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block meta %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		{% endblock %} 
        {% block extra_meta %} 
        {% endblock %} 
        {% block corecss %}
        <!--Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap" rel="stylesheet">
		<!--Bootstrap css-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
		{% endblock %} 
        {% block extra_css%} 
        {% endblock %} 
        
        {% block corejs %}
        <!--jQuery-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<!--Bootstrap js-->
		<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!--font Awesome-->
        <script
            src="https://kit.fontawesome.com/5522ae6586.js"
            crossorigin="anonymous"></script>
		<script src="{% static 'js/main.js' %}"></script>
		{% endblock %} 

        {% block extra_js %} 
        {% endblock %}
		<title>The Pop Up Irish Pub</title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12">
						<nav class="navbar fixed-top navbar-expand-none">
							<div class="container-fluid">
								<a class="navbar-brand" href="{% url 'home' %}">
									<img src="{{ MEDIA_URL }}the_pop_up_irish_pub_trans_gold.png" alt="logo"></img>
								</a>
								<button
									class="navbar-toggler ms-auto"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#navbarTogglerDemo02"
									aria-controls="navbarTogglerDemo02"
									aria-expanded="false"
									aria-label="Toggle navigation">
									<span
										><i
											class="hamburgerIcon fas fa-bars"></i
									></span>
								</button>
								<div
									class="collapse navbar-collapse"
									id="navbarTogglerDemo02">
									<ul class="navbar-nav mb-2 mb-lg-0 nav-pills justify-content-end">
										<li class="nav-item">
											<a class="nav-link active"
												data-linkId="home"
												aria-current="page"
												href="{% url 'home' %}#home"
												aria-label="Home page">Home</a>
										</li>
										<li class="nav-item">
											<a class="nav-link"
												data-linkId="about-us"
												aria-current="page"
												href="{% url 'home' %}#about-us"
												aria-label="About Us page">About Us</a>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" data-linkId="explore-bars" data-bs-toggle="dropdown" role="button" aria-expanded="false">Explore Our Bars</a>
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a class="nav-link dropdown-item" 
													data-group="explore-bars"
													href="{% url 'kiwobar' %}"
													aria-label="KiWo Bar page">KiWo Bar</a>
												</li>
												<li class="nav-item">
													<a class="nav-link dropdown-item" 
													data-group="explore-bars"
													href="{% url 'guinnessbar' %}"
													aria-label="Guinness Glass Bar page">Guinness Glass Bar</a>
												</li>
												<li class="nav-item">
													<a class="nav-link dropdown-item" 
													data-group="explore-bars"
													href="{% url 'mobilebar' %}"
													aria-label="Mobile Bar page">Mobile Bar</a>
												</li>
												<li class="nav-item">
													<a class="nav-link dropdown-item" 
													data-group="explore-bars"
													href="{% url 'custombar' %}"
													aria-label="Custom Bars page">Custom Bars</a>
												</li>
											</ul>	
										</li>
										<li class="nav-item">
											<a class="nav-link"
												data-linkId="food-music"
												aria-current="page"
												href="{% url 'home' %}#food-music"
												aria-label="Add Ons catering and entertainment page">Add Ons</a>
										</li>
										{% comment %} <li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" data-linkId="food-music" data-bs-toggle="dropdown" role="button" aria-expanded="false">Add Ons</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="" 
												aria-label="Catering page">Catering</a></li>
												<li><a class="dropdown-item" href=""
												aria-label="Entertainment page">Entertainment</a></li>
											</ul>	
										</li> {% endcomment %}
										
										<li class="nav-item">
											<a class="nav-link"
												data-linkId="testimonials"
												aria-current="page"
												href="{% url 'home' %}#testimonials"
												aria-label="Testimonials page">Testimonials</a>
										</li>
										<li class="nav-item">
											<a class="nav-link"
												data-linkId="events"
												aria-current="page"
												href="{% url 'home' %}#events"
												aria-label="Event Types page">Event Types</a>
										</li>
										{% comment %} <li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" data-linkId="events" data-bs-toggle="dropdown" role="button" aria-expanded="false">Event Types</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="" aria-label="Trade Shows page">Trade Shows</a></li>
												<li><a class="dropdown-item" href="" aria-label="Weddings page">Weddings</a></li>
												<li><a class="dropdown-item" href="" aria-label="Private Events page">Private Events</a></li>
												<li><a class="dropdown-item" href="" aria-label="Festivals page">Festivals</a></li>
											</ul>	
										</li> {% endcomment %}
										
										<li class="nav-item">
											<a class="nav-link"
												data-linkId="gallery"
												aria-current="page"
												href="{% url 'home' %}#gallery"
												aria-label="Gallery page">Gallery</a>
										</li>
										<li class="nav-item">
											<a class="nav-link"
												data-linkId="contact-us"
												aria-current="page"
												href="{% url 'home' %}#contact-us"
												aria-label="Contact Us page">Contact Us</a>
										</li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		{% block page_header %} 
        {% endblock %} 
        {% block content %} 
        {% endblock %}
		{% comment %} <footer>
			<p>Footer</p>
		</footer> {% endcomment %}
		{% block postloadjs %} 
		{% endblock %}
	</body>
</html>
